.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
  padding: 0;
  margin: 0 auto;
  max-width: 1128px;
}

.gallery-card {
  position: relative;
  flex: 0 0 calc(33.333% - 16px);
  border: 1px solid #808080;
  /* width: 360px; */
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.gallery-card:hover {
  transform: scale(1.03);
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  background: #fff;

  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  flex-wrap: nowrap;
}

.gallery-stats p {
  margin: 0;
  padding: 4px 20px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  line-height: 1;
}

.gallery-stats p strong {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin: 0;
}

.gallery-stats span {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  margin: 0;
}
