.js-btn-load {
  display: block;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  width: 125px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;

  background: #4e75ff;

  margin: 32px auto 44px;
}

.hidden {
  display: none;
  opacity: 0;
}

.loader {
  display: inline-block;
  margin-top: 20px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
